<%= form_for @interview do |i| %>

  <div>
    <%= i.label :student_id %>
    <%= i.select(:student_id, Student.all.collect {|s| [s.name, s.id]}, {:prompt => 'Select Student'}) %>
  </div>
  
  <div>
    <%= i.label :employer_id %>
    <%= i.select(:employer_id, Employer.all.collect {|e| [e.name, e.id]}, {:prompt => 'Select Employer'}) %>
  </div>
<div>
    <%= i.label :interview_date %>
    <%= i.text_field :interview_date %>
  </div>
  <div>
    <%= i.label :interview_location %>
    <%= i.text_field :interview_location %>
  </div>
  <div>
    <%= i.label :status %>
    <%= i.text_field :status %>
  </div>
  <div>
    <%= i.label :follow_up %>
    <%= i.text_field :follow_up %>
  </div>

  <div>
    <%= i.submit %>
  </div>

<% end %>

