<div class="container-fluid">
    <div class="span8 main-content">

        <%= form_for @interview do |i| %>

          <% @interview.errors.messages.each do |msg| %>
          <P class="error_message"><%= msg[1][0] %></P>
              <% end %>
          

          <% if current_user.role == "Student" %>
            <%= i.hidden_field :student_id, :value => @student.id %>
          <% else %>
            <div> <%= i.label :student_id %>
            
              <%= i.select(:student_id, Student.all.collect {|s| [s.name, s.id]}, {:prompt => 'Select Student'}) %>
            </div>
          <% end %>
          
          <% if current_user.role == "Employer" %>
            <%= i.hidden_field :employer_id, :value => @employer.id %>
          <% else %>
            <div>
              <%= i.label :employer_id %>
              <%= i.select(:employer_id, Employer.all.collect {|e| [e.name, e.id]}, {:prompt => 'Select Employer'}) %>
            </div>
          <% end %>

          <div>
            <%= i.label :status %>
            <%= i.select(:status, ["Active", "Closed - Offer Accepted", "Closed - Offer Rejected", "Closed - Offer Not Received", "Dormant"]) %>
          </div>

          <div>  
            <%= i.fields_for :interview_appts do |ia| %>
              <%= render 'ia_fields', ia: ia %>
            <% end %>
          </div>

          <div>
             <%= link_to "Add Appt", "#", class: "add_appts" %>
            <%= i.submit %>
          </div>


            <div>
              <%= i.submit %>
            </div>

          <% end %>
    </div>
  <div class="span4 sidebar">
    <% if @upcoming_interviews %>
    <div class="widget">
            
            <h2>Upcoming Interviews</h2>
            <ul class="cards">
              
              <% @upcoming_interviews.each do |itv| %>

                <li>
                    <p class="title"><%= itv.date_time.strftime("%m/%d/%Y @ %I:%M%p") %></p>
                    <div class="img">
                        <img src="images/faces/1b.png">
                        <div class="label label-info">Pro</div>
                    </div>
                    <p class="info-text">Interview with <%= itv.interviewer%></p>
                    <p class="info-text">Interview Type: <%= itv.purpose%></p>
                </li>
                <% end %>
                
                <li class="more">
                    <%= link_to "View All", interviews_path %>
                </li>
            </ul>
        </div>
      <% else %>
      <% end %>
    </div>
  </div>
