<h1>Interviews List</h1>
<%= link_to 'Add New Interview', new_interview_path %>
<table id="interview_list">
  <th>Interview #</th>
  <th>Student</th>
  <th>Employer</th>
  <th>Status</th>
  <th>Interview Appt</th>
  <th> Last Update</th>

  <% @interviews.sort.each do |i| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        
        <td>
          <%= link_to i.id, interview_path(i.id) %> <br>
        </td>
        <td>
          <%= link_to Student.find(i.student_id).name, student_path(i.student_id) %> <br>
        </td>
        <td>
          <%= link_to Employer.find(i.employer_id).name, employer_path(i.employer_id) %> <br> 
        </td>
        <td>
          <%= i.status %>
        </td>
        <td>
          <table>
            <% i.interview_appts.each do |ia| %>
            
              <tr> 
                <td><%= ia.date_time %></td> 
                <td><%= ia.purpose %></td> 
                <td><%= ia.location %> |</td> 
                <td><%= ia.interviewer %></td> 
                <td><%= ia.comments %></td> 
                <td><%= ia.follow_up %></td> 
              </tr>
            <% end %>
          </table>

        </td>
        
       
        <td>
          <%= i.updated_at %>
        </td>

      </tr>
  <% end%>
  
</table>

<br />

<%= link_to 'Add New Interview', new_interview_path %>
      