<%= form_for @student do |s| %>

  <div>
    <%= s.label :name %>
    <%= s.text_field :name, :placeholder => :name%>
  </div>
  <div>
    <%= s.label :preferred_industry %>
    <%= s.text_field :preferred_industry, :placeholder => :preferred_industry %>
  </div>
  <div>
    <%= s.label :preferred_location %>
    <%= s.text_field :preferred_location, :placeholder => :preferred_location %>
  </div>
  <div>
    <%= s.submit %>
  </div>

<% end %>