<h1>Student Profile</h1>

<ul>
  <h3>Name: <%= @student.name %> </h3>
  <h3>Preferred Industry: <%= @student.preferred_industry %> </h3>
  <h3>Preferred Location: <%= @student.preferred_location %> </h3>

  <div id = "preferences_student_view">
    <h3>Companies Interested In <%= @student.name%>: </h3>
      <% @student_companies.each do |comp| %>
      <li><%= link_to comp.name, employer_path(comp.id) %></li>
      <% end %>

          
    <h3><%= @student.name%>'s Companies of Interest: </h3>
      <% @student_interest.each do |comp| %>
      <li><%= link_to comp.name, employer_path(comp.id) %></li>
      <% end %>
  </div>
<div id = "matches_student_view">
  <h3> <%= @student.name%>'s Matches: </h3>
  <% @matches.each do |match| %>
  <li><%= link_to match.name, employer_path(match.id) %></li>
  <%end%>
</div>
</ul>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Delete', @student, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', students_path %>