
<div class="container-fluid">
  <div class="span8 main-content">
    <h1>Student Profile</h1>

    <ul>
      <h3>Name: <%= @student.name %> 
        <button type="button" class="btn btn-primary"> 
          <%= link_to '+', new_preference_path(@student) %>
        </button>
      </h3>
      
      <h3>Preferred Industry: <%= @student.preferred_industry %> </h3>
      <h3>Preferred Location: <%= @student.preferred_location %> </h3>

      <div id = "preferences_student_view">
        <h3>Companies Interested In <%= @student.name%>: </h3>
          <% @student_companies.each do |comp| %>
          <li><%= link_to comp.name, employer_path(comp.id) %></li>
          <% end %>

              
        <h3><%= @student.name%>'s Companies of Interest: </h3>
          <% @student_interest.each do |comp| %>
          <li><%= link_to comp.name, employer_path(comp.id) %></li>
          <% end %>
      </div>
      <div id = "matches_student_view">
        <h3> <%= @student.name%>'s Matches: </h3>
        <% @matches.each do |match| %>
        <li><%= link_to match.name, employer_path(match.id) %></li>
        <%end%>
      </div>
    </ul>
  </div>

  <div class="span4 sidebar">
    <div class="widget">
            <h2>Upcoming Interviews</h2>
            <ul class="cards">
              
              <% @upcoming_interviews.each do |itv| %>

                <li>
                    <p class="title"><%= itv.date_time.strftime("%m/%d/%Y @ %I:%M%p") %></p>
                    <div class="img">
                        <img src="images/faces/1b.png">
                        <div class="label label-info">Pro</div>
                    </div>
                    <p class="info-text">Interview with <%= itv.interviewer%></p>
                    <p class="info-text">Interview Type: <%= itv.purpose%></p>
                </li>
                <% end %>
                <li class="more">
                    <%= link_to "View All", interviews_path %>
                </li>
            </ul>
        </div>
    </div>
  </div>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Delete', @student, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', students_path %>
</div>