<h1>Student Profile</h1>

<ul>
  <h3>Name: <%= @student.name %> </h3>
  <h3>Preferred Industry: <%= @student.preferred_industry %> </h3>
  <h3>Preferred Location: <%= @student.preferred_location %> </h3>

  <div id = "preferences_student_view">
    <h3>Companies Interested In Student: </h3>
    <% @student_companies.each do |comp| %>
    <%= comp %> 
    <% end %>
<!--       <% Preference.where(:student_id => @student.id).each do |n| %>
        <% if Preference.find(n.id).interest_expressed_by == "Employer"%>
          <li> <%= Employer.find(n.employer_id).name %> </li>
          <% else %>
        <% end %>
      <% end %> -->
          
    <h3>Student's Companies of Interest: </h3>
    <% @student_interest.each do |comp| %>
    <%= comp %> 
    <% end %>
       <!--  <% Preference.where(:student_id => @student.id).each do |n| %>
        <% if Preference.find(n.id).interest_expressed_by == "Student"%>
          <li> <%= Employer.find(n.employer_id).name %> </li>
          <% else %>
        <% end %>
      <% end %> -->
  </div>

</ul>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Delete', @student, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', students_path %>