<h1>Create a new account</h1>

<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :role %>
    <%#= f.option_groups_from_collection_for_select(@users, :employers, :name, :id, :name, 3) %>
    <%#= f.options_from_collection_for_select(@employers, :id, :name) %>

    <select>
      <option value = "Student">Student</option>
      <optgroup label = "Employers">
        <option value = "New Employer">New Employer</option>
        <% Employer.all.sort.each do |e| %>
          <option value = e.name><%= e.name %></option>
        <% end %>
      </optgroup>
    </select>

    <%#= f.select(:role, ["Student", "Employer"], {:prompt => "Please Select"}) %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
