<h1>Create a new account</h1>

<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class = 'user-type'>
    <%= f.label :role %>
    <%= f.select(:role, ["Student", "Employer"], {:prompt => "Please Select"}) %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div id = 'create-user-button'>
    <%= f.submit %>
  </div>
<% end %>
