<%= form_for @preference do |p| %>

  <div>
    <%= p.label :student_id %>
    <%= select("name", "student_id", Student.all.collect {|s| [s.name, s.id]}, {:prompt => 'Select Student'}) %>
  </div>
  <div>
    <%= p.label :employer_id %>
    <%= select("name", "employer_id", Employer.all.collect {|e| [e.name, e.id]}, {:prompt => 'Select Employer'}) %>
  </div>
  <div>
    <%= p.label :interest_expressed_by %><br>
    Student
    <%= radio_button_tag :interest_expressed_by, value = "Student" %>  |  
    Employer
    <%= radio_button_tag :interest_expressed_by, value = "Employer" %>
  </div>

  <div>
    <%= p.submit %>
  </div>

<% end %>