<h1> Show Preference </h1>

<ul>
  <h3>Student: <%= Student.find(@preference.student_id).name %> </h3>
  <h3>Employer: <%= Employer.find(@preference.employer_id).name %> </h3>
  <h3>Interested Party: <%= @preference.interest_expressed_by %> </h3>
  <h3>Date: <%= @preference.updated_at %> </h3>
</ul>


<%= link_to 'New Preference', new_preference_path %> |
<%= link_to 'Edit', edit_preference_path(@preference[:id]) %> |
<%= link_to 'Delete', @preference, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', preferences_path %>