<%= form_for @employer do |e| %>

  <div>
    <%= e.label :name %>
    <%= e.text_field :name %>
  </div>
  <div>
    <%= e.label :industry %>
    <%= e.text_field :industry %>
  </div>
  <div>
    <%= e.label :homepage_url %>
    <%= e.text_field :homepage_url %>
  </div>
  <div>
    <%= e.label :location %>
    <%= e.text_field :location %>
  </div>
  <div>
    <%= e.label :est_year %>
    <%= e.text_field :est_year %>
  </div>
  <div>
    <%= e.label :funding %>
    <%= e.text_field :funding %>
  </div>
  <div>
    <%= e.label :number_of_employees %>
    <%= e.text_field :number_of_employees %>
  </div>
  <div>
    <%= e.label :description %>
    <%= e.text_field :description %>
  </div>
  <div>
    <%= e.submit %>
  </div>

<% end %>