<h1>Employer Profile</h1>

<ul>
  <h3>Name: <%= @employer.name %> </h3>
  <h3>Industry: <%= @employer.industry %> </h3>
  <h3>Location: <%= @employer.location %> </h3>
  <h3>Year Established: <%= @employer.est_year %> </h3>

  <div id = "preferences_employer_view">
    <h3>Students Interested In Company: </h3>
      <% @employer.students.collect {|s| s.id}.each do |n| %>
        <% if Preference.find_by_student_id(n).interest_expressed_by == "Student"%>
          <li> <%= Student.find(n).name %> </li>
        <% else %>
        <% end %>
      <% end %>
    

    <h3>Company's Students of Interest: </h3>
        <% @employer.students.collect {|s| s.id}.each do |n| %>
        <% if Preference.find_by_student_id(n).interest_expressed_by == "Employer"%>
          <li> <%= Student.find(n).name %> </li>
        <% else %>
        <% end %>
      <% end %>
  </div>

</ul>



<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Delete', @employer, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', employers_path %>
