<h1>Employer Profile</h1>

<ul>
  <h3>Name: <%= @employer.name %> 
    <% if current_user.role == "Student" %>
      <button type="button" class="btn btn-primary"> 
        <%= link_to '+ Interest', new_preference_path(@employer) %>
      </button>
    <% else %>
    <% end %>
  </h3>
  <h3>Home Page: <%= link_to @employer.homepage_url, @employer.homepage_url %> </h3>
  <h3>Description: <%= @employer.description %> </h3>
  <h3>Established: <%= @employer.est_year %> </h3>
  <h3>Funding: <%= @employer.funding%> </h3>
  <h3>Employees: <%= @employer.number_of_employees %> </h3>

  <div id = "preferences_employer_view">
    <h3>Students Interested In Company: </h3>
      <% Preference.where(:employer_id => @employer.id).each do |n| %>
        <% if Preference.find(n.id).interest_expressed_by == "Student"%>
          <li> <%= Student.find(n.student_id).name %> </li>
          <% else %>
        <% end %>
      <% end %>
          
    <h3>Company's Students of Interest: </h3>
        <% Preference.where(:employer_id => @employer.id).each do |n| %>
        <% if Preference.find(n.id).interest_expressed_by == "Employer"%>
          <li> <%= Student.find(n.student_id).name %> </li>
          <% else %>
        <% end %>
      <% end %>
  </div>

</ul>



<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Delete', @employer, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', employers_path %>
