<h1>Employer Profile</h1>

<ul>
  <h3>Name: <%= @employer.name %> </h3>
  <h3>Industry: <%= @employer.industry %> </h3>
  <h3>Location: <%= @employer.location %> </h3>
  <h3>Year Established: <%= @employer.est_year %> </h3>
</ul>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Delete', @employer, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', employers_path %>