<h1>Matches</h1>
<table>
  <th>Student</th>
  <th>Employer</th>
  <th>Interview Status</th>
  <th>Create Interview</th>

  <% @matches.each do |m| %>  
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td> <%= hidden_field_tag :student_id, m[2] %> 
        <%=link_to m[0], student_path(m[2])  %> </td> 
      
      <td> <%= hidden_field_tag :employer_id, m[3] %>
        <%= link_to m[1], employer_path(m[3]) %></td>
        <% @interview = Interview.new(:student_id => m[2], :employer_id => m[3]) %>
      
      <td>
        <%= m[4] %>
      </td>

      <td> <%= link_to "Create Interview", new_interview_path(:interview =>{:student_id => @interview.student_id, :employer_id => @interview.employer.id, :status => "Active"}) %> </td>
    </tr>
  <% end %>
</table>

